.body 
{
    transform-origin: 50% 50%;
}

.on .body 
{
    animation: rotate-film-body 1.5s linear infinite running;
}

/*.on:hover .body
{
    animation-play-state: paused;
}*/

@keyframes rotate-film-body 
{
    0% { 
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}