.content-nav
{
    padding: 0px;
    width: fit-content;
    border-radius: 8px;
    box-shadow: none;
}

.content-nav menu
{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.content-nav .content-nav-btn
{
    color: rgb(from var(--c1) r g b / 50%);
    /* color: rgb(from var(--c2) r g b / 50%); */
    font-size: .9rem;
    transition: all .3s;
    background-color: transparent !important;
}

.content-nav .content-nav-btn:not(:disabled):hover
{
    /* color: var(--c2); */
    color: var(--c1);
    /* fill: var(--c2); */
    fill: var(--c1);
}


.content-nav .content-nav-btn:disabled
{
    opacity: 1;
    /* color: var(--c1); */
    color: var(--c2);
}