.content-nav
{
    padding: 0px;
    width: fit-content;
    border-radius: 4px;
    box-shadow: none;
}

.content-nav menu
{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.content-nav .content-nav-btn
{
    color: rgb(from var(--c1) r g b / 50%);
    /* color: rgb(from var(--c2) r g b / 50%); */
    font-size: .9rem;
    transition: all .3s;
    border-radius: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* background-color: transparent !important; */
}

.content-nav .content-nav-btn:not(:disabled):hover
{
    color: var(--c2);
    /* color: rgb(from var(--c1) r g b / 50%); */
}


.content-nav .content-nav-btn:disabled
{
    opacity: 1;
    /* color: var(--c1); */
    color: var(--white);
    background-color: var(--c2);
}