.app-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
    /* box-shadow: var(--sh2); */
    font-family: var(--font-1);
    font-size: 1rem;
    background-color: var(--white);
    color: var(--c1);
    /* border-bottom: 1px solid rgb(from var(--c1) r g b / 50%); */
    border-bottom: 1px solid var(--c1);
}

.app-header-user
{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 16px;
}

.app-header-user button
{
    padding: 8px 16px;
}

.app-header-user button:hover
{
    background-color: var(--c2) !important;
}