.app-nav
{
    padding-top: 64px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 256px;
    height: 100%;
    align-self: flex-start;
    background-color: var(--c1);
}

.app-nav menu 
{
    list-style: none;
}

.app-nav button
{
    padding: 8px 0px;
    padding-left: 16px;
    padding-right: 32px;
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    /* margin-bottom: 8px; */

    border-radius: 8px;

    font-family: var(--font-2);
    font-weight: 500;
    font-size: .9rem;
    border: none;
    background: none;

    fill: var(--white);
    color: var(--white);

    transition: all .3s;
}

.app-nav button svg
{
    width: 18px !important;
    height: 18px !important;
}

.app-nav button:not(.current):hover
{
    /* color: var(--white);
    fill: var(--white);
    background-color: rgb(from var(--c2) r g b / 50%); */
    fill: var(--white);
    color: var(--white);
    background-color: transparent;
    background-color: rgb(from var(--white) r g b / 50%);
    cursor: pointer;
}

.app-nav button:not(.current):active
{
    fill: var(--white);
    color: var(--white);
    background-color: rgb(from var(--white) r g b / 75%);
    cursor: initial;
}

.app-nav button.current
{
    /* background-color: var(--c1); */
    background-color: var(--g1);
    fill: var(--c1);
    color: var(--c1);
}