.app-nav
{
    padding-top: 64px;
    padding-bottom: 16px;
    padding-left: 16px;
    min-width: 256px;
    height: 100%;
    border-right: 1px solid var(--c1);
    align-self: flex-start;
}

.app-nav menu 
{
    list-style: none;
}

.app-nav button
{
    padding: 8px 0px;
    padding-left: 8px;
    padding-right: 32px;
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    font-family: var(--font-2);
    font-weight: 500;
    font-size: .9rem;
    border: none;
    background: none;

    fill: var(--c1);
    color: var(--c1);

    transition: all .3s;
}

.app-nav button:not(.current):hover
{
    /* background-color: var(--g1); */
    /* color: var(--c2); */
    color: var(--white);
    /* fill: var(--c2); */
    fill: var(--white);
    /* background-color: rgb(from var(--c1) r g b / 50%); */
    background-color: rgb(from var(--c2) r g b / 50%);
    cursor: pointer;
}

.app-nav button:not(.current):active
{
    /* fill: rgb(from var(--c1) r g b / 50%); */
    fill: var(--white);
    /* color: rgb(from var(--c1) r g b / 50%); */
    color: var(--white);
    /* background-color: rgb(from var(--c1) r g b / 25%); */
    background-color: rgb(from var(--c2) r g b / 45%);
    cursor: initial;
}

.app-nav button.current
{
    /* background-color: var(--c1); */
    background-color: var(--c2);
    fill: white;
    color: white;
}