.dashboard-view
{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--g1);
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
}

.dashboard-inner-view
{
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
}

.dashboard-notifications
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}