.auth-page
{
    /* padding: 10rem; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.auth-page .login-panel,
.auth-page .signup-panel,
.auth-page .no-service-panel,
.auth-page .auth-page-loading
{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.auth-page-loading
{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 16px;
    /* z-index: 10; */
    transition: opacity .2s linear, transform .2s linear;
}

.auth-page-loading.inactive
{
    opacity: 0;
    transform: translateY(16px);
    /* z-index: -10; */
}

.auth-page-loading h3
{
    color: black;
    font-family: var(--font-1);
}

.auth-page-loading.done-loading h3
{
    opacity: 0;
}

.auth-page-loading.done-loading
{
    opacity: 0;
    transform: translateY(16px);
}