@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#root {
    width: 100%;
    /* text-align: center; */
}

#root,
body
{
    position: relative;
    z-index: -20;
}

:root {
  --font-1: 'Rubik', sans-serif;
  --font-2: 'Manrope', sans-serif;
  --font-3: 'Barlow Condensed', sans-serif;

  --c1: #243659;
  /* --c2: #F27457; */
  --c2: #8C1B2F;
  --c3: #04BF9D;
  --c4: #03A696;
  --c5: #BF665E;

  --c2-text: #FFFFFF;

  --g1: #F9FBFA;
  --g2: #889397;
  --g3: #afbbbf;

  --black: #222222;
  --white: #FFFFFF;

  --success: #24D57A;
  --error: #F3655A;
  --info: #2CAAFF;
  --warning: #F8A134;

  --success-dark: #4CAF50;
  --error-dark: #F44336;

  --sh1: 0px 0px 5px rgb(0, 0, 0, .7);
  --sh2: 0px 0px 16px rgba(0, 0, 0, .2);
  --sh3: 0px 0px 8px rgba(0, 0, 0, .2);

  font-family: var(--font-2);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading span
{
    background-color: rgba(0, 0, 0, 0.1);
    animation: glow 1.5s ease-in-out infinite;
    max-width: 300px;
    color: transparent;
    white-space: nowrap;
    cursor: progress;
}

.content-unit {
  padding: 16px;
  box-shadow: var(--sh3); 
  border: 1px solid var(--g2);
  border-radius: 8px;
  background-color: var(--white);
}

.content-view
{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;

    --reg: var(--g1);
    --dark: rgb(from var(--g1) calc(r - 15) calc(g - 15) calc(b - 15));
    background-color: var(--g1);
    background: 
    linear-gradient(
        to right, 
        var(--reg) 0%,
        var(--dark) 12.5%, 
        var(--reg) 25%,
        var(--dark) 37.5%,
        var(--reg) 50%,
        var(--dark) 62.5%, 
        var(--reg) 75%,
        var(--dark) 87.5%,
        var(--reg) 100%
    );
    background-size: 200%;
    animation: content-view-anim 30s linear infinite;
}

@keyframes content-view-anim {
    from { background-position: left; }
    to { background-position: right; }
}

.content-inner-view
{
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}

.content-notifications
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 8px;
    position: sticky;
    z-index: 200;
}

.content-stats
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-stats.init
{
    animation: panel-slide-in-with-display .7s ease-out 1 forwards;
}

.auth-page
{
    /* padding: 10rem; */
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.auth-page .login-panel,
.auth-page .signup-panel,
.auth-page .no-service-panel,
.auth-page .auth-page-loading
{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.auth-page-loading
{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 16px;
    /* z-index: 10; */
    transition: opacity .2s linear, transform .2s linear;
}

.auth-page-loading.inactive
{
    opacity: 0;
    transform: translateY(16px);
    /* z-index: -10; */
}

.auth-page-loading h3
{
    color: black;
    font-family: var(--font-1);
}

.auth-page-loading.done-loading h3
{
    opacity: 0;
}

.auth-page-loading.done-loading
{
    opacity: 0;
    transform: translateY(16px);
}

.auth-panel-nav
{
    display: flex;
    align-items: center;
    gap: 4px;
}

.auth-panel-nav button.auth-panel-nav-btn
{
    padding: 4px 2px;
    border-radius: 4px;
    color: var(--c2);
    background-color: transparent !important;
}

.auth-panel-nav button.auth-panel-nav-btn:disabled
{
    color: var(--g2);
    opacity: 1;
}

.auth-panel-nav button.auth-panel-nav-btn:not(:disabled):hover
{
    color: rgb(from var(--c2) r g b / 75%);
}

.auth-panel-nav button.auth-panel-nav-btn:not(:disabled):active
{
    color: rgb(from var(--c2) r g b / 50%);
}

.auth-panel .auth-submit-btn:not(:disabled)
{
    padding: 8px 48px;
    border-radius: 12px;
    color: var(--c2-text);
    background: 
    linear-gradient(
        to bottom, 
        var(--c2) 30%, 
        rgb(from var(--c2) calc(r - 40) calc(g - 40) calc(b - 40))
    );
}

.auth-panel .auth-submit-btn:disabled
{
    padding: 8px 48px;
    border-radius: 12px;
    color: var(--c2-text);
    background: 
    linear-gradient(
        to bottom, 
        var(--g2) 30%, 
        rgb(from var(--g2) calc(r - 40) calc(g - 40) calc(b - 40))
    );
}

.auth-panel .auth-submit-btn:not(:disabled):hover
{
    background: 
    linear-gradient(
        to bottom, 
        rgb(from var(--c2) calc(r + 20) calc(g + 20) calc(b + 20)) 30%,
        rgb(from var(--c2) calc(r - 20) calc(g - 20) calc(b - 20))
    );
    transform: scale(1.05);
}

.auth-panel .auth-submit-btn:not(:disabled):active
{
    transform: scale(.95);
}

.auth-error-msg
{
    text-align: left;
    margin-top: -12px;
    margin-left: 8px;
    width: 392px;
    color: var(--error);
    animation: panel-slide-in .5s ease-in 1 forwards;
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes panel-slide-in {
    0% {
        display: none;
        opacity: 0;
        transform: translateY(4px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes panel-slide-in-with-display {
    0% {
        opacity: 0;
        transform: translateY(32px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}