@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --font-1: 'Rubik', sans-serif;
  --font-2: 'Manrope', sans-serif;
  --font-3: 'Barlow Condensed', sans-serif;

  --c1: #243659;
  --c2: #F27457;
  --c3: #04BF9D;
  --c4: #03A696;
  --c5: #BF665E;

  --g1: #F9FBFA;
  --g2: #889397;
  --g3: #afbbbf;

  --black: #222222;
  --white: #FFFFFF;

  --success: #4CAF50;
  --error: #F44336;

  --sh1: 0px 0px 5px rgb(0, 0, 0, .7);
  --sh2: 0px 0px 16px rgba(0, 0, 0, .2);
  --sh3: 0px 0px 8px rgba(0, 0, 0, .2);

  font-family: var(--font-2);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading span
{
    background-color: rgba(0, 0, 0, 0.1);
    animation: glow 1.5s ease-in-out infinite;
    max-width: 300px;
    color: transparent;
    white-space: nowrap;
    cursor: progress;
}

.content-unit {
  padding: 16px;
  box-shadow: var(--sh3);
  border: 1px solid var(--g2);
  border-radius: 16px;
  background-color: var(--white);
}

.content-view
{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--g1);
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
}

.content-inner-view
{
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
}

.content-notifications
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: -20px;
}

.content-stats
{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes panel-slide-in {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}