.login-logo 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-2);
}

.login-logo h1 
{
    transition: text-shadow .2s;
    padding: 0px 16px;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    pointer-events: none;
    line-height: 100%;
}

.no-service-panel 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: white;
    padding: 2rem;
    border-radius: 16px; 
    border: none;
    box-shadow: var(--sh1);
    font-family: var(--font-1);
    text-align: center;
    transition: opacity .2s linear, transform .2s linear;
    max-width: 400px;
    position: relative;
    z-index: 10;
    animation: panel-slide-in .5s ease-in 1 forwards;
}

.no-service-panel.inactive
{
    opacity: 0;
    transform: translateY(16px);
    pointer-events: none;
    z-index: -20;
}