.signup-panel h2 
{
    font-family: var(--font-1);
}

.signup-panel
{
    background-color: white;
    padding: 2rem;
    border-radius: 16px; 
    font-family: var(--font-1);
    box-shadow: var(--sh2);
    position: relative;
    z-index: 10;
    min-width: fit-content;
    max-width: 50vw;
    transition: opacity .2s linear, transform .2s linear;
}

.signup-panel.inactive
{
    opacity: 0;
    transform: translateY(16px);
    pointer-events: none;
}

.signup-panel,
.signup-panel form,
.signup-text-fields
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.signup-text-fields
{
    margin-bottom: 16px;
}

.forgot-password 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-status 
{
    text-align: center;
    animation: signup-status .5s ease-in 1 forwards;
}

.signup-status.error
{
    color: var(--error);
}

@keyframes signup-status {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}