.app-notification
{
    display: flex;
    gap: 8px;
    max-width: 1000px;
    color: var(--white);
    fill: var(--white);
    box-shadow: var(--sh3);
    border-color: transparent;
    border-radius: 16px;
}

.app-notification-icon
{
    width: 20px;
    height: 20px;
}

.app-notification-icon svg
{
    width: 20px !important;
    height: 20px !important;
}

.app-notification.content-unit.info
{
    background-color: var(--info);
}

.app-notification.content-unit.warning
{
    background-color: var(--warning);
}

.app-notification.content-unit.success
{
    background-color: var(--success);
}

.app-notification.content-unit.error
{
    background-color: var(--error);
}

.app-notification .app-notification-content
{
    font-size: .8rem;
    flex-grow: 1;
}

.app-notification h3
{
    font-family: var(--font-2);
    font-weight: 700;
    font-size: .8rem;
}

.app-notification > button
{
    background: none;
    border: none;
    padding: 0;
    color: var(--white) !important;
    padding: 0px;
    height: fit-content;
    position: relative;
}

.app-notification > button:hover
{
    transform: scale(1.1);
}

.app-notification > button:active
{
    transform: scale(.95);
}

.app-notification > button:hover,
.app-notification > button:active
{
    background: none !important;
}

.app-notification > button svg
{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.app-notification > button:active svg
{
    color: rgba(from var(--white) r g b / 50%);
    fill: rgba(from var(--white) r g b / 50%);
}

.app-notification.done
{
    animation: disappear .3s linear forwards;
}

@keyframes disappear {
    0% { opacity: 1 }
    100% { opacity: 0; display: none }
}