.app-table
{
    width: fit-content;
    min-width: 400px;
    width: 100%;
    max-width: calc(var(--max-cols) * 200px);
    overflow: hidden;
}

.app-table h3
{
    font-size: 1.1rem;
}

.app-table table
{
    border-spacing: 0px 8px;
    border-collapse: collapse;
    width: 100%;
}

.app-table.no-header table
{
    border-top: 1px solid var(--g2);
}

.app-table.content-unit
{
    padding: 0px;
}

.app-table.no-header
{
    padding-top: 16px;
}

.app-table-header
{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: fit-content;
    font-family: var(--font-1);
    padding: 10px 16px;
    color: var(--c1);
    fill: var(--c1);
    border-bottom: 1px solid var(--g2);
}

.app-table-header.loading span
{
    font-size: 1.25rem;
}

.app-table-subheader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.app-table-subheader .actions
{
    display: flex;
    align-items: center;
    gap: 8px;
}

.app-table-subheader .actions button
{
    font-size: .8rem;
    padding: 4px 4px;
    border-radius: 4px;
    color: var(--c1);
    transition: color .1s, fill .1s;
}

.app-table-subheader .actions button svg
{
    width: 16px !important;
    height: 16px !important;
}

.app-table-subheader .actions button:hover
{
    color: var(--c2);
    fill: var(--c2);
}

.app-table-subheader .actions button:active
{
    color: rgb(from var(--c2) calc(r + 40) calc(g + 40) calc(b + 40));
    fill: rgb(from var(--c2) calc(r + 40) calc(g + 40) calc(b + 40));
}

.app-table th, .app-table td
{
    width: 200px;
    padding: 4px 16px;
    text-align: left;
    font-size: .9rem;
}

.app-table tbody tr,
.app-table tbody td
{
    white-space: nowrap;
    overflow-x: hidden;
    position: relative;
}

.app-table tbody td span
{
    height: 100%;
}

.app-table tr:nth-child(2n + 1)
{
    background-color: var(--g1);
}

.app-table.content-unit thead tr
{
    background-color: var(--c1);
    color: var(--white);
    border-bottom: 1px solid var(--g2);
}

.app-table.content-unit thead th
{
    padding-top: 4px;
    padding-bottom: 4px;
}

.app-table.content-unit.no-header thead tr
{
    background-color: var(--white);
    color: var(--c1);
    border-bottom: 1px solid var(--g2);
}

.app-table.content-unit.no-header thead th:not(:last-child)
{
    border-right: 1px solid var(--g2);
}

.app-table.content-unit.one-row tr th:first-child
{
    background-color: var(--c1);
    color: var(--white);
    border-right: 1px solid var(--g2);
    width: 200px;
}

.app-table.content-unit.no-header.one-row tr th:first-child
{
    background-color: var(--white);
    color: var(--c1);
}

.app-table.content-unit.one-row tr:nth-child(2n) th
{
    background-color: rgb(from var(--c1) calc(r - 10) calc(g - 10) calc(b - 10));
}

.app-table.content-unit.no-header.one-row tr:not(:last-child) th
{
    border-bottom: 1px solid var(--g2);
}

.app-table.content-unit.one-row tr td:not(:last-child)
{
    border-right: 1px solid var(--g2);
}

th, td, tr
{
    position: relative;
}

.app-table .action button,
.app-table .create-row button
{
    width: 100%;
    text-align: center;
}

.app-table .action button,
.app-table .create-row button,
.app-table .new-data button,
.app-table .edit-cell button,
.app-table .delete-cell button
{
    fill: var(--c1);
    background: none;
    border: none;
    opacity: .25;
    width: fit-content;
    height: 20px;
    transition: opacity .2s, transform .2s;
}

.app-table .action button:hover,
.app-table .create-row button:hover,
.app-table .new-data button:hover,
.app-table .edit-cell button:hover,
.app-table .delete-cell button:hover
{
    opacity: .5;
    transform: scale(1.1);
    cursor: pointer;
}

.app-table .action button:active,
.app-table .create-row button:active,
.app-table .new-data button:active,
.app-table .edit-cell button:active,
.app-table .delete-cell button:active
{
    opacity: 1;
    transform: scale(.95);
    cursor: initial;
}

.app-table .new-data svg,
.app-table .edit-cell svg,
.app-table .delete-cell svg
{
    fill: var(--c1);
    animation: fade-in .2s linear forwards;
}

.app-table .new-data input,
.app-table .edit-cell input
{
    background: none;
    border: none;
    font-family: var(--font-2);
    font-size: .9rem;
    max-width: 125px;
    border-bottom: 1px solid var(--c1);
}

.app-table .new-data input.invalid,
.app-table .edit-cell input.invalid
{
    border-bottom-color: var(--error);
    color: var(--error);
    fill: var(--error);
}

.app-table .new-data input:focus,
.app-table .edit-cell input
{
    outline: none;
}

.app-table .edit-btn,
.app-table .delete-btn
{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    text-align: right;
    padding-right: 8px;
    background: none;
    border: none;
}

.app-table tr .edit-btn svg,
.app-table tr .delete-btn svg
{
    box-shadow: 0px 0px 5px var(--g1);
    background-color: var(--g1);
    fill: var(--c1);
    opacity: 0;
}

.app-table tr:nth-child(2n) .edit-btn svg,
.app-table tr:nth-child(2n) .delete-btn svg
{
    box-shadow: 0px 0px 5px var(--white);
    background-color: var(--white);
}

.app-table tr .edit-btn:hover,
.app-table tr .delete-btn:hover
{
    cursor: pointer;
}

.app-table tr .edit-btn:hover svg,
.app-table tr .delete-btn:hover svg
{
    opacity: .5;
}

.app-table tr .edit-btn:active,
.app-table tr .delete-btn:active
{
    cursor: initial;
}

.app-table tr .edit-btn:active svg,
.app-table tr .delete-btn:active svg
{
    opacity: 1;
}

.app-table tr td
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-table.one-row tr td svg
{
    border-collapse: initial;
}

.app-table tr
{
    display: flex;
}

.app-table-body
{
    margin-bottom: 8px;
    overflow-x: scroll;
    max-height: calc(var(--max-rows) * 28px);
    border-bottom: 1px solid var(--g2);
}

.app-table-mode-text
{
    font-size: .9rem;
    animation: fade-in .2s linear forwards;
}

@keyframes fade-in
{
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.app-table-body td span:has(svg)
{
    width: 10px;
    height: 10px;
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
}

.app-table-body td button svg
{
    width: 20px !important;
    height: 20px !important;
}

.app-table .action button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-table .action button svg
{
    width: 16px !important;
    height: 16px !important;
}

.app-table-body td div.svg
{
    width: 20px !important;
    height: 20px !important;
}