.stringplay-btn 
{
    background-color: var(--c1);
    color: white;
    padding: .75rem 1.5rem;
    border-radius: 16px;
    user-select: none;
    /* font-family: 'Rubik', 'Nobile', sans-serif; */
    font-family: var(--font-1);
    font-size: 1rem;
    border: 0px solid black;
    transition: all .2s;
    text-align: center;

    display: flex;
    align-items: center;
}

.stringplay-btn span
{
    display: flex;
    align-items: center;
    gap: 4px;
}

.stringplay-btn.v2 
{
    background-color: transparent;
    color: var(--black);
}

.stringplay-btn.v3
{
    background-color: var(--c2);
}

.stringplay-btn:disabled,
.stringplay-btn.v3:disabled
{
    /* color: rgb(from var(--white) r g b / 50%); */
    color: var(--white);
    background-color: var(--g2);
}

.stringplay-btn.v2:disabled {
    opacity: .5;
}

.stringplay-btn:not(:disabled):hover 
{
    cursor: pointer;
}

.stringplay-btn:not(:disabled):active 
{
    cursor: default;
}

.stringplay-btn.v1:not(:disabled):hover 
{
    background-color: rgb(from var(--c1) calc(r - 20) calc(g - 20) calc(b - 20));
}

.stringplay-btn.v2:not(:disabled):hover 
{
    background-color: rgba(0, 0, 0, .1);
}

.stringplay-btn.v3:not(:disabled):hover 
{
    background-color: rgb(from var(--c2) calc(r - 20) calc(g - 20) calc(b - 20));
}

.stringplay-btn.v1:not(:disabled):active,
.stringplay-btn.v3:not(:disabled):active
{
    box-shadow: var(--sh1);
}

.stringplay-btn.v2:not(:disabled):active 
{
    background-color: rgba(0, 0, 0, .05);
}